<html>
<h1 class="strong"> Welcome to world of WORDCRAFT! </h1> 

<body>
  <div id="bg">
    <img src="https://live.staticflickr.com/670/22211662874_53411cc1b4_b.jpg" alt="">
  </div>
<div class="col-xl-4 form-group">
  
  <label for="novelField"></label>
  <textarea [(ngModel)]='myTextArea' id='myTextArea' name="textAreaOne" type="text" placeholder="Enter text here..." class="inone"></textarea>
</div>
<br>
<button class="button" (click)="engageApp()"> Engage! </button>

<!-- <div class="col-xl-4 form-group">
  <div class="row-xl-4 form-group" *ngIf="(engage == true)">
  -->

<!-- <div *ngFor="let novel of novelText"> -->
  <div style="margin-left:1400px vertical-align: top" *ngIf="(engage == true)">
  <textarea readonly name="textAreaTwo" id="txt2"> {{ myTextArea}} </textarea>
</div> 
<!-- </div>
</div> -->
<!-- </div> -->
 

</body>
</html>