<html>
<h2 class="header">World Of Wordcraft</h2>

<body>
  <div id="bg">
    <img src="https://live.staticflickr.com/670/22211662874_53411cc1b4_b.jpg" alt=""> 
  </div>
  
  <div class="enterNum" *ngIf="engage===false">
    <!-- <input type="text" placeholder="Enter # of words to display" #inp>&nbsp;  -->
    <input type="text" placeholder="Enter # of words to show" [(ngModel)]="sliceNum">
    <!-- <button type="submit" class="numChoice" (click)='setSlice(inp.value)'>Set!</button> -->
  </div>

  <div class="engagearea">
    <app-input-form (wordArrayEvent)='engageApp($event)' (resetArrayEvent)='onReset()'></app-input-form>
  </div>


  


  <div class="displayTable" *ngIf="(engage == true)">
    <table class="table table-dark" id="table1">
      <thead>
        <tr>
          <th>Word</th>
          <th>Count</th>
          <th>Synonyms</th>
        </tr>
      </thead>




      <tbody>
        <tr *ngFor="let row of wordDisplay">
          <td><button class="small-btn" (click)="onRemove(row.word)" title="Click to Remove this word from the list"><b>remove</b></button>&nbsp;&nbsp; {{row.word}}</td>
          <td>{{row.qty}}</td>
          <td><button class="small-btn" (click)="onGetSynonyms(row.word)" title="Click to get Synonyms"><b>Synonyms</b></button>{{row.syns}}</td>
        </tr>
        <tr>
        <td>Total Wordcount: {{totalWords}}</td>
      </tr>
      </tbody>
    </table>

  </div>


</body>
</html>