<html>
<h1 class="strong"> Welcome to world of WORDCRAFT! </h1> 

<body>
  <div id="bg">
    <img src="https://live.staticflickr.com/670/22211662874_53411cc1b4_b.jpg" alt="">
    
    
  </div>
<!-- <div class="col-xl-4 form-group"> -->
  
  <div class="textareadiv">
  <textarea [(ngModel)]='myTextArea' id='myTextArea' name="textAreaOne" type="text" placeholder="Enter text here..." class="inone"></textarea>
</div>


<div class="buttondiv">
  <button class="button" (click)="engageApp()"> Engage! </button>
  <button class="resetbutton" (click)="onReset()"> Reset </button>
</div>


  <div *ngIf="(engage == true)">
    <table class="table table-dark" id = "table1">
      <thead>
        <tr>
          <th>Word</th>
          <th>Count</th>
        </tr>
      </thead>
   
    

   
      <tbody>
        <tr *ngFor="let row of wordDisplay">
        <td>{{row.word}}</td>
        <td>{{row.qty}}</td>
      </tr>
      </tbody>
    </table>

  </div>


</body>
</html>